<section id="contact-us" class="contact-us">
  <div class="container">
    <div class="contact-us__content">
      <img src="{{ url_for('static', filename='icons/telephon.svg') }}" alt="Phone illustration" class="telephon__svg">

      <div class="contact-us__details">
        <h2 class="contact-us__title">Want to know the cost of cleaning or book a date?</h2>
        <p class="contact-us__text">Contact us anytime — we'll get back to you quickly!</p>

        <div class="contact-us__info">
          <a href="tel:+1 (431) 338-0909" class="contact-us__phone-button">
            <img src="{{ url_for('static', filename='icons/phone.svg') }}" alt="Phone" class="contact-us__icon">
            Call us
          </a>
          <a href="https://wa.me/+14313380909" class="contact-us__button" target="_blank">
            <img src="{{ url_for('static', filename='icons/social_networks/whatsapp.svg') }}" alt="WhatsApp" class="contact-us__icon">
          </a>
          <a href="https://www.facebook.com/profile.php?id=61576951766329" class="contact-us__button" target="_blank">
            <img src="{{ url_for('static', filename='icons/social_networks/facebook.svg') }}" alt="Facebook" class="contact-us__icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>