<!-- Mobile Menu -->
<div class="mobile-menu" id="mobileMenu">
    <nav class="mobile-nav">
        <a href="#hero" class="mobile-nav__link">Home</a>
        <a href="#about" class="mobile-nav__link">About us</a>
        <a href="#services" class="mobile-nav__link">Services</a>
        <a href="#reviews" class="mobile-nav__link">Reviews</a>
        <a href="#contacts" class="mobile-nav__link">Contacts</a>
    </nav>
    <div class="mobile-social">
        <a href="https://facebook.com" target="_blank" class="mobile-social__link">
        <img src="{{ url_for('static', filename='icons/facebook.svg') }}" alt="Facebook" class="mobile-social__icon">
        </a>
        <a href="https://instagram.com" target="_blank" class="mobile-social__link">
        <img src="{{ url_for('static', filename='icons/instagram.svg') }}" alt="Instagram" class="mobile-social__icon">
        </a>
        <a href="https://t.me/ваш_телеграм" target="_blank" class="mobile-social__link">
        <img src="{{ url_for('static', filename='icons/telegram.svg') }}" alt="Telegram" class="mobile-social__icon">
        </a>
    </div>
</div>