<!-- Mobile Menu -->
<div class="mobile-menu" id="mobileMenu">
    <nav class="mobile-nav">
        <a href="#hero" class="mobile-nav__link">Home</a>
        <a href="#about" class="mobile-nav__link">About us</a>
        <a href="#services" class="mobile-nav__link">Services</a>
        <a href="#reviews" class="mobile-nav__link">Reviews</a>
        <a href="#contacts" class="mobile-nav__link">Contacts</a>
    </nav>
    <div class="mobile-social">

        <a href="tel:+14313380909" target="_blank" class="mobile-social__link">
            <img src="{{ url_for('static', filename='icons/call.svg') }}" alt="phone_num" class="mobile-social__icon">
        </a>

        <a href="https://wa.me/+14313380909" target="_blank" class="mobile-social__link">
            <img src="{{ url_for('static', filename='icons/social_networks/whatsapp.svg') }}" alt="WhatsApp" class="mobile-social__icon">
        </a>

        <a href="https://facebook.com" target="_blank" class="mobile-social__link">
            <img src="{{ url_for('static', filename='icons/social_networks/facebook.svg') }}" alt="Facebook" class="mobile-social__icon">
        </a>

    </div>
</div>